root = true

[*]
charset = utf-8
# Временный кэш движка Godot
.godot/

# Временные файлы экспорта под Android/Windows/iOS
*.tmp
*.log

# Локальные настройки редактора (чтобы не затирать настройки других разработчиков)
export_presets.cfg

# Файлы операционных систем
.DS_Store
Thumbs.db
